body {
  margin: 0;
  background: linear-gradient(to right, #15a7a7, #34b9b9);
}

.container {
  background: #222;
  justify-content: center;
  padding: 50px 20px;
  margin: 2rem auto;
  border-radius: 40px;
  box-shadow: 25px 25px 75px #1a1a1a, -12px -12px 14px #666 inset,
    6px 6px 5px #666 inset;
  width: 100%;
  max-width:450px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(4, 5rem);
  justify-content: center;
  gap:10px;
}

.buttons > button {
  box-shadow: 25px 25px 75px #1a1a1a, -12px -12px 12px #3a3a3a inset,
    5px 5px 16px #0c0c0c inset;
  cursor: pointer;
  border-radius: 12px;
  font-size: 24px;
  padding:20px;
  border: none;
  outline: none;
  background-color: #2a2a2a;
  margin: 5px;
  color: #e6e6e6;
}

.ac {
  background: #c30f0f !important;
  box-shadow: #1a1a1a 25px 25px 75px, #751616 -12px -12px 12px inset,
    #b43e3e 5px 5px 16px inset !important;
}

.buttons > button:hover {
  background-color: #3c3c3c;
  box-shadow: 25px 25px 75px #1a1a1a, -12px -12px 12px #5e5e5e inset,
    5px 5px 16px #000 inset;
}

.buttons > button:focus {
  margin: 6px;
}

.span-two {
  grid-column: span 2;
}

.output {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  margin: 2rem auto;
  height: 60px;
  color: #fff;
  font-size: 24px;
  text-align: right;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

@media (max-width: 600px) {

  .buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 400px) {
  .buttons {
    grid-template-columns: repeat(2, 1fr);
  }

  .buttons > button {
    font-size: 20px;
    padding:15px;
  }

  .output {
    font-size: 20px;
  }

  .output .current-operand {
    font-size: 2rem;
  }
}
